<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button (click)="onTitleClick()">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example HOSTPLAT icon">settings_ethernet</mat-icon>
        <span>HOSTPLAT</span>
      </button>
      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="viewMenuProjects">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Projects icon">auto_awesome_motion</mat-icon>
        <span>Projects</span>
      </button>
      <mat-menu #viewMenuProjects="matMenu" yPosition="below">
          <button mat-menu-item (click)="onNewProject()">
            <mat-icon>post_add</mat-icon>
            <span><b>Add new project</b></span>
          </button>
          <button mat-menu-item (click)="onAllProject()">
            <mat-icon>list</mat-icon>
            <span><b>My projects</b></span>
          </button>
      </mat-menu>


      <button mat-button [matMenuTriggerFor]="viewMenuProfile">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Profile icon">supervised_user_circle</mat-icon>
        <span>Profile</span>
      </button>
      <mat-menu #viewMenuProfile="matMenu" yPosition="below">
          <button mat-menu-item (click)="onClickChangePassword()">
            <mat-icon>password</mat-icon>
            <span><b>Change password</b></span>
          </button>
          <button mat-menu-item (click)="onClickChangeBasicInfo()">
            <mat-icon>info</mat-icon>
            <span><b>Change basic info</b></span>
          </button>
          <button mat-menu-item (click)="onClickChangeAvatar()">
            <mat-icon>camera</mat-icon>
            <span><b>Change avatar</b></span>
          </button>
      </mat-menu>  
  
      <button mat-button (click)="onClickLogout()" id="logout-btn">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">highlight_off</mat-icon>
        <span>Logout</span>
    </button>
    </mat-toolbar-row>
  </mat-toolbar>