<div  *ngIf="milestone">
    <form #updateMilestone="ngForm" (ngSubmit)="update()" novalidate>
      <h1>Update milestone:</h1>
      <div>
        <mat-form-field>
          <input matInput type="text" required #name='ngModel'
          [(ngModel)]="milestone.title" name="title" placeholder="Milestone title">
        </mat-form-field>
      </div>
      <div>
        <h3>From date: {{milestone.start_date | date}}</h3>
        <mat-form-field appearance="fill">
          <mat-label>Chose new start date</mat-label>
          <input matInput [matDatepicker]="picker" [formControl]="start_date"
                 (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div>
        <h3>To date: {{milestone.end_date | date}}</h3>
        <mat-form-field appearance="fill">
          <mat-label>Chose new end date</mat-label>
          <input matInput [matDatepicker]="picker1"  [min]="start_date" 
                 (dateInput)="addEvent2('input', $event)" (dateChange)="addEvent2('change', $event)">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      
      
      <button mat-raised-button color="accent" type="submit" [disabled]="updateMilestone.form.invalid">Update milestone</button>
    </form>
  </div> 