<h2 mat-dialog-title>Project details</h2>
<mat-dialog-content>
    <h3>Project name: <b>{{data.name | titlecase}}</b></h3>
    <h3>Project description: <b>{{data.description | titlecase}}</b></h3>
    <h3>Created: <b>{{data.create_date | date: 'dd.MM.yyyy.'}}</b></h3>
    <h3>Project name: <b>{{data.name | titlecase}}</b></h3>
    <h3>Project name: <b>{{data.name | titlecase}}</b></h3>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close color="primary">Close</button>
</mat-dialog-actions>

