<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button (click)="onTitleClick()">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example HOSTPLAT icon">settings_ethernet</mat-icon>
        <span>HOSTPLAT</span>
      </button>
      <span class="example-spacer"></span>
      <button mat-button (click)="onClickLogin()" id="login-btn">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example login icon">input</mat-icon>
        <span>Login</span>
      </button>
      <button mat-button (click)="onClickRegister()" id="register-btn">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example register icon">person_add</mat-icon>
        <span>Register</span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>