<div class="container">
    <div class="user-info-container">
        <form [formGroup]="passwordForm" (submit)="onClickEditPassword()">
            <div>
                <mat-form-field class="input-field" appearance="outline">
                    <mat-icon matPrefix class="icon">lock</mat-icon>
                    <input id="old-pw-input" matInput type="password" placeholder="Old password" formControlName="oldPassword" />
                </mat-form-field>

                <small class="text-danger"
                    *ngIf="passwordForm.controls.oldPassword.touched && passwordForm.controls.oldPassword.errors?.required">
                    Old password is required
                </small>
            </div>
            
            <div>
                <mat-form-field class="input-field" appearance="outline">
                    <mat-icon matPrefix class="icon">lock</mat-icon>
                    <input id="new-pw-input" matInput type="password" placeholder="New password" formControlName="newPassword" />
                </mat-form-field>

                <small class="text-danger"
                    *ngIf="passwordForm.controls.newPassword.touched && passwordForm.controls.newPassword.errors?.required">
                    New password is required
                </small>
            </div>
            
            <button id="change-pw-btn" type="submit" mat-raised-button color="primary" [disabled]="passwordForm.invalid">
                Change
            </button>
        </form>
    </div>
</div>