<mat-tab-group>
  <mat-tab label="Code">
    <div class="main" *ngIf="project">
      <h1>{{project.name}}</h1>
      <h2>Description:</h2>
      <h3>{{project.description}}</h3>
      <div *ngIf="project.private_project == true">
        <h3>Private project:<mat-icon class="example-icon" aria-hidden="false" >done</mat-icon></h3>
        

      </div>
      <div *ngIf="project.private_project == false">
        <h3>Public project:<mat-icon class="example-icon" aria-hidden="false">done</mat-icon></h3>
        

      </div>
      <div>
        <button   mat-raised-button   (click)='updateProject()' color="accent">Update project</button>
        <button   mat-raised-button   *ngIf="project.private_project == false" (click)='updatePrivateProject()' color="accent">Set project to private</button>
        <button   mat-raised-button   *ngIf="project.private_project == true" (click)='updatePrivateProject()' color="accent">Set project to public</button>
        <button   mat-raised-button  (click)='delete()' color="accent">Delete</button>

      </div>
    </div>
    <div>
      <h3>Users on project:</h3>
      <table mat-table [dataSource]="usersOnProject" class="mat-elevation-z8" >

        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> First name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> Last name </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns3" ></tr>
        <tr mat-row  *matRowDef="let row; columns: displayedColumns3"></tr>
  </table>
    </div>  
    <h1></h1>
    <button   mat-raised-button  (click)='addUsers()' color="accent">Add new users</button>

  </mat-tab>
  <mat-tab label="Tasks">
    <button   mat-raised-button  (click)='addTask()' color="accent">Create task</button>
    <mat-tab-group>
      <mat-tab label="Open">
        <mat-grid-list  cols="1" rowHeight="160px">
          <mat-grid-tile *ngFor="let open of openTasks" >
            <mat-card class="card">
              <mat-card-header>
                <mat-card-title>{{open.title}}</mat-card-title>
              </mat-card-header>
              <mat-card-actions>
                <button mat-raised-button (click)="showDetails(open.id)" color="accent">Details</button>
              </mat-card-actions>
            </mat-card>  
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
      <mat-tab label="Close">
        <mat-grid-list  cols="1" rowHeight="160px">
          <mat-grid-tile *ngFor="let close of closeTasks" >
            <mat-card class="card">
              <mat-card-header>
                <mat-card-title>{{close.title}}</mat-card-title>
              </mat-card-header>
              <mat-card-actions>
                <button mat-raised-button (click)="showDetails(close.id)" color="accent">Details</button>
              </mat-card-actions>
            </mat-card>  
          </mat-grid-tile>
        </mat-grid-list>
        
      </mat-tab>
    </mat-tab-group>
    
  </mat-tab>
  <mat-tab label="Milestones">
    <mat-tab-group>
      <mat-tab label="Open">
        <mat-grid-list  cols="1" rowHeight="160px">
          <mat-grid-tile *ngFor="let open of openMilestones" >
            <mat-card class="card">
              <mat-card-header>
                <mat-card-title>{{open.title}}</mat-card-title>
              </mat-card-header>
              <mat-card-actions>
                <button mat-raised-button (click)="showDetailsMilestone(open.id)" color="accent">Details</button>
              </mat-card-actions>
            </mat-card>  
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
      <mat-tab label="Close">
        <mat-grid-list  cols="1" rowHeight="160px">
          <mat-grid-tile *ngFor="let open of closeMilestones" >
            <mat-card class="card">
              <mat-card-header>
                <mat-card-title>{{open.title}}</mat-card-title>
              </mat-card-header>
              <mat-card-actions>
                <button mat-raised-button (click)="showDetailsMilestone(open.id)" color="accent">Details</button>
              </mat-card-actions>
            </mat-card>  
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
    </mat-tab-group>
      <mat-tab label="Wiki">
        <mat-tab-group>
        </mat-tab-group>
      </mat-tab>
      <mat-tab label="Insights">
        <div class="center">
        <mat-form-field appearance="fill">
          <mat-label>Period:</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="24 h">24 h</mat-option>
            <mat-option value="3 days">3 days</mat-option>
            <mat-option value="1 week">1 week</mat-option>
            <mat-option value="1 month">1 month</mat-option>
          </mat-select>
        </mat-form-field>
        </div>

        <div class="center">
        <h2>Open task in period  {{selected}}</h2>
        <div  *ngFor="let o of open">
          <h3>{{o.title}}</h3>
        </div>
      </div>
      <div class="center">
        <h2>Close task in period  {{selected}}</h2>
        <div  *ngFor="let o of closeT">
          <h3>{{o.title}}</h3>
        </div>
        <div>
        </div>
      </div>
      <div class="center">
      <button mat-raised-button (click)="show(selected)" color="accent">Show</button>
    </div>
      </mat-tab>
